*{
scroll-behavior: smooth;
padding: 0;
margin: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
}

body{
  font-family: "Chela One", system-ui;
  font-weight: none;
}

img{
width: 100%;
border-radius: 100px;

}
section{
padding: 100px 0;
background: #122e44;
}
.section_title{
margin-bottom:70px ;	
}
.section_title h2{
position: relative;
text-align: center;
color: #fff;
font-size:100px;
transition: all.6s ease-in-out;
}
.section_title h2:hover{
background-color: #24CAAC;	
}
/*<------------------------------------------HEader-------------------------------------------------------------->*/
header{
background: #000;
border-buttom:3px solid ;
position: fixed;
width: 100%;

}
.navbar{
display: flex;
align-content: center;
justify-content: space-between;
padding: 15px 20px;
width: 100%;
margin: 0 auto;
text-size-adjust: 40px;
}
.nav_links{
display:flex;
}
.nav_links li a{
margin: left 20px;
color: #fff;
padding: 10px 15px;
border-radius: 10px;
transition:all .7s ease;
}
.nav_links li a:hover{
background-color: #24CAAC;
}
.logo h2 a{
color: #11292;

}
.logo h2 a:hover{
background-color: red;
border-radius: 5px;
}
/*<------------------------------------------ESAS Sehife------------------------------------------------------->*/
.inner_anasayfa{
display: flex;
align-items: center;
justify-content: space-between;
margin: 0 auto;
width: 80%;
color:#fff;

}
.child_anasayfa{
flex-basis: 45%;
}
.child_anasayfa h1{
font-size: 60px;
color: #24CAAC;

}
.span_child{
color: #e0376f;
}
.child_anasayfa p{
font-size:30px;
margin-bottom: 12px;
}
.btn{
	background: #24CAAC;
	padding: 12px 28px;
	border-radius: 20px;
	color: #fff;
	border: 1px solid #24CAAC;
	font-weight: 700;
	cursor: pointer;
	transilation:all .6s ease;
}
.btn:hover{
background: transparent;
}
/*--------------------------------------yazilimlar---------------------------------------------------------*/
.Web_site_ucun_lazim_olan{
	font-size:30px;
	color:darkslateblue;
    background-color:#122e44;
    align-tracks: center;
    margin:0 auto ;

}
.innersoftware{
display: flex;
align-items: right;
width: 80%;
justify-content: space-between;
margin:0 auto ;

}
.innersoftware_child{
flex-basis: 31%;
color: #FFF;
padding: 25px 20x;
background: rgba(55, 66, 80, 0.281);
border-radius: 5px;
border: 1px solid transparent;
transition: all .3 ease-in-out;
}
.innersoftware_child :hover{
border: 1px solid #24CAAC;
}
